* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  background-color: rgb(165, 165, 241);
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
}


.item1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;

}

.item2 {
  z-index: 1;
}